<%- include('../_partial/_header'); -%>
   <!-- Top Navigation Menu -->
   <div class="topnav">
    <a href="#home" class="active">Dan's Ranch</a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a class = 'active' href="/sleeves">Sleeves</a></li>
    </ul>
    </div>
  </div>
  <br></br> 
  
<div class="row">
    <div class="col-md-6">
        <h1>Sleeves</h1>
    </div>
</div>

<!--List all the posts-->
<% results.forEach(function(image) { %>

    <figure class = 'item'><img src="data:image/<%=image.img.contentType%>;base64,
    <%=image.img.data.toString('base64')%>"><figcaption class = 'caption'></br>$<%= image.price %></figcaption></figure>

<% }) %>

<%- include ('../_partial/_footer'); -%>
